# Operating system spew
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# For PCBs designed using KiCad:
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Exported BOM files
*.xml
*.csv